
singularity {
    enabled    = true
    autoMounts = true
    runOptions = '--nv'
    pullTimeout = '1h'  // Change '20m' to '1h' or '60m'
}

docker {
    enabled    = false
}

process {
    resourceLimits = [
        memory: 500.GB,
        cpus: 64,
        time: 48.h
    ]
    executor   = 'slurm'
    maxRetries = 12
    queue      = { task.time <= 1.h ? 'debug-b40x4' : task.time >= 8.h ? 'b40x4-long': 'b40x4' }

    withLabel: gpu {
        clusterOptions = '--gres=gpu:1'
    }
    withLabel: process_gpu {
        clusterOptions = '--gres=gpu:1'
    }

}

executor {
    queueSize       = 99
    submitRateLimit = '5 sec'
}

process {
    withName: 'registration:ashlar' { 
        memory = 128.GB 
        cpus = 16
    }
}

process {
    withName: 'segmentation:worker' {
        clusterOptions = '--partition=b40x4 --gres=gpu:1' 
        memory         = 128.GB 
        cpus           = 16
        
        // Container & GPU passthrough
        containerOptions = "--nv -B /lustre/nvwulf --env NUMBA_CACHE_DIR=/lustre/nvwulf/scratch/agilgomez/numba_cache --env MPLCONFIGDIR=/lustre/nvwulf/scratch/agilgomez/matplotlib_cache"
    }
}

process {
    withName: 'downstream:worker' {
        clusterOptions = '--partition=b40x4 --gres=gpu:1' 
        memory         = 128.GB 
        cpus           = 16
        
        // Container & GPU passthrough
        containerOptions = "--nv -B /lustre/nvwulf --env NUMBA_CACHE_DIR=/lustre/nvwulf/scratch/agilgomez/numba_cache --env MPLCONFIGDIR=/lustre/nvwulf/scratch/agilgomez/matplotlib_cache"
    }
}